<h1>Gender Age Distribution</h1>

<%= form_tag({controller: "reports", action: "sex_compare"}, {method: :get, class: "form-inline", remote: true}) do %>
  <div class="form-group">
    <%= select_tag :country, options_for_select([['India', 'IN'], ['United Kingdom', 'UK'], ['United States', 'US'], ['Canada', 'CA']], @country), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= select_tag :year, options_for_select([[2010, 2010], [2011, 2011], [2012, 2012], [2013, 2013], [2014, 2014]], @year), class: "form-control" %>
  </div>
  <%= submit_tag("Submit", class: "btn btn-primary", data: {disable_with: "Please wait..."}) %>
<% end %>

<div id="report">
  <%= render 'sex_compare_chart' %>
</div>
